h1 {
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: bolder;
}
.hero {
  width: 100%;
  margin: 0;
  padding: 50px 0;
  text-align: center;
  background-color: #e4d7fa;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 40px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
