:root {
  --background-color: #fbfffe;
  --primary-color: #4f85f115;
  --secondary-color: #fcd1e9;
  --third-color: #142850;
}
body {
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
}
h2 {
  font-size: 38px;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
}

.navbar-nav,
.mr-auto {
  flex-grow: inherit;
  margin: auto !important;
  display: flex;
  justify-content: right !important;
}

.hero {
  width: 100%;
  color: white;
  margin: 0;
  padding: 100px 0;
  text-align: center;
  background-color: var(--third-color);
}
.content-container {
  padding: 60px 120px;
}
.project-description {
  padding: 120px 60px;
}
.project-img {
  margin: 0 auto;
  display: block;
}

.btn-fill {
  background-color: var(--secondary-color);
  color: black;
  padding: 12px 42px !important;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 500;
}
.btn-fill:hover {
  background-color: #fdc4e3;
  color: black;
  text-decoration: none;
}
.contact-box {
  padding: 30px 80px;
  border-radius: 8px;
  background-color: var(--primary-color);
  margin: 24px 0;
}

.footer {
  text-align: center;
  padding: 24px;
  text-decoration: none;
  font-size: 18px;
}
.footer a {
  padding: 12px;
}
.footer i {
  font-size: 24px;
  padding: 10px;
  color: black;
  border-radius: 25px;
  background-color: var(--secondary-color);
}

@media (max-width: 960px) {
  .content-container {
    padding: 36px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
