h1 {
  font-size: 78px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: bolder;
}
.navbar-nav,
.mr-auto {
  flex-grow: inherit;
  margin: auto !important;
  display: flex;
  justify-content: right !important;
}
.hero {
  width: 100%;
  margin: 0;
  padding: 64px 0;
  text-align: center;
  background-color: #e4d7fa;
}
.content-container {
  padding: 60px 120px;
}
.project-description {
  padding: 120px 60px;
}
.project-img {
  margin: 0 auto;
  display: block;
}

.btn-fill {
  background-color: rgb(58, 58, 252);
  color: white;
  padding: 12px 42px;
  text-decoration: none;
  border-radius: 12px;
}

.footer {
  text-align: center;
  padding: 24px;
  text-decoration: none;
}
.footer a {
  padding: 12px;
}
.footer i {
  color: black;
  font-size: 24px;
}
@media (max-width: 960px) {
  .content-container {
    padding: 12px 36px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 32px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
